# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/scaleway/scaleway/account/ @scaleway/devtools-core
/scaleway-async/scaleway_async/account/ @scaleway/devtools-core

/scaleway/scaleway/applesilicon/ @scaleway/devtools-compute-foundation
/scaleway-async/scaleway_async/applesilicon/ @scaleway/devtools-compute-foundation

/scaleway/scaleway/baremetal/ @scaleway/devtools-compute-foundation
/scaleway-async/scaleway_async/baremetal/ @scaleway/devtools-compute-foundation

/scaleway/scaleway/billing/ @scaleway/devtools-core
/scaleway-async/scaleway_async/billing/ @scaleway/devtools-core

/scaleway/scaleway/block/ @scaleway/devtools-storage
/scaleway-async/scaleway_async/block/ @scaleway/devtools-storage

/scaleway/scaleway/cockpit/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/cockpit/ @scaleway/devtools-dms

/scaleway/scaleway/container/ @scaleway/devtools-compute
/scaleway-async/scaleway_async/container/ @scaleway/devtools-compute

/scaleway/scaleway/dedibox/ @scaleway/devtools-compute-foundation
/scaleway-async/scaleway_async/dedibox/ @scaleway/devtools-compute-foundation

/scaleway/scaleway/domain/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/domain/ @scaleway/devtools-dms

/scaleway/scaleway/edge_services/ @scaleway/devtools-network
/scaleway-async/scaleway_async/edge_services/ @scaleway/devtools-network

/scaleway/scaleway/flexibleip/ @scaleway/devtools-network
/scaleway-async/scaleway_async/flexibleip/ @scaleway/devtools-network

/scaleway/scaleway/function/ @scaleway/devtools-compute
/scaleway-async/scaleway_async/function/ @scaleway/devtools-compute

/scaleway/scaleway/iam/ @scaleway/devtools-core
/scaleway-async/scaleway_async/iam/ @scaleway/devtools-core

/scaleway/scaleway/instance/ @scaleway/devtools-compute
/scaleway-async/scaleway_async/instance/ @scaleway/devtools-compute

/scaleway/scaleway/iot/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/iot/ @scaleway/devtools-dms

/scaleway/scaleway/ipam/ @scaleway/devtools-network
/scaleway-async/scaleway_async/ipam/ @scaleway/devtools-network

/scaleway/scaleway/jobs/ @scaleway/devtools-compute
/scaleway-async/scaleway_async/jobs/ @scaleway/devtools-compute

/scaleway/scaleway/k8s/ @scaleway/devtools-compute
/scaleway-async/scaleway_async/k8s/ @scaleway/devtools-compute

/scaleway/scaleway/key_manager/ @scaleway/devtools-core
/scaleway-async/scaleway_async/key_manager/ @scaleway/devtools-core

/scaleway/scaleway/lb/ @scaleway/devtools-network
/scaleway-async/scaleway_async/lb/ @scaleway/devtools-network

/scaleway/scaleway/marketplace/ @scaleway/devtools-compute
/scaleway-async/scaleway_async/marketplace/ @scaleway/devtools-compute

/scaleway/scaleway/mnq/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/mnq/ @scaleway/devtools-dms

/scaleway/scaleway/rdb/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/rdb/ @scaleway/devtools-dms

/scaleway/scaleway/redis/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/redis/ @scaleway/devtools-dms

/scaleway/scaleway/registry/ @scaleway/devtools-compute
/scaleway-async/scaleway_async/registry/ @scaleway/devtools-compute

/scaleway/scaleway/secret/ @scaleway/devtools-core
/scaleway-async/scaleway_async/secret/ @scaleway/devtools-core

/scaleway/scaleway/serverless_sqldb/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/serverless_sqldb/ @scaleway/devtools-dms

/scaleway/scaleway/tem/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/tem/ @scaleway/devtools-dms

/scaleway/scaleway/vpc/ @scaleway/devtools-network
/scaleway-async/scaleway_async/vpc/ @scaleway/devtools-network

/scaleway/scaleway/vpcgw/ @scaleway/devtools-network
/scaleway-async/scaleway_async/vpcgw/ @scaleway/devtools-network

/scaleway/scaleway/webhosting/ @scaleway/devtools-dms
/scaleway-async/scaleway_async/webhosting/ @scaleway/devtools-dms
