interactions:
- request:
    body: '{"enable_routing": false, "name": "vpc-sharp-germain", "project_id": "11111111-1111-1111-1111-111111111111"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
  response:
    body:
      string: '{"id": "56504da5-90ed-493e-9348-38c4412816c9", "name": "vpc-sharp-germain",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-09-02T07:48:21.300468Z", "updated_at": "2025-09-02T07:48:21.300468Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
    status:
      code: 200
      message: OK
- request:
    body: '{"default_route_propagation_enabled": true, "name": "pn-vigorous-swartz",
      "project_id": "11111111-1111-1111-1111-111111111111", "vpc_id": "56504da5-90ed-493e-9348-38c4412816c9"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
  response:
    body:
      string: '{"id": "6b16e762-b5fa-429d-b8e4-4e9446804a7a", "name": "pn-vigorous-swartz",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-09-02T07:48:21.411413Z", "updated_at": "2025-09-02T07:48:21.411413Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "ac6f6a84-c8d4-4305-9052-2821ad35dcf0",
        "created_at": "2025-09-02T07:48:21.411413Z", "updated_at": "2025-09-02T07:48:21.411413Z",
        "subnet": "172.16.144.0/22", "project_id": "11111111-1111-1111-1111-111111111111",
        "private_network_id": "6b16e762-b5fa-429d-b8e4-4e9446804a7a", "vpc_id": "56504da5-90ed-493e-9348-38c4412816c9"},
        {"id": "e64afe8f-d91d-4091-8b69-1d6244027d76", "created_at": "2025-09-02T07:48:21.411413Z",
        "updated_at": "2025-09-02T07:48:21.411413Z", "subnet": "fd64:badd:7710:1e6e::/64",
        "project_id": "11111111-1111-1111-1111-111111111111", "private_network_id":
        "6b16e762-b5fa-429d-b8e4-4e9446804a7a", "vpc_id": "56504da5-90ed-493e-9348-38c4412816c9"}],
        "vpc_id": "56504da5-90ed-493e-9348-38c4412816c9", "dhcp_enabled": true, "default_route_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/56504da5-90ed-493e-9348-38c4412816c9
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
