interactions:
- request:
    body: '{"enable_routing": false, "name": "vpc-hopeful-solomon", "project_id":
      "11111111-1111-1111-1111-111111111111"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
  response:
    body:
      string: '{"id": "fdbf2d41-d70f-4715-a997-8116d6fe3626", "name": "vpc-hopeful-solomon",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-29T07:51:25.465831Z", "updated_at": "2025-08-29T07:51:25.465831Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"default_route_propagation_enabled": true, "name": "pn-busy-jennings",
      "project_id": "11111111-1111-1111-1111-111111111111", "vpc_id": "fdbf2d41-d70f-4715-a997-8116d6fe3626"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
  response:
    body:
      string: '{"id": "16c77cfd-c818-4312-ae96-32b0e5a16d3d", "name": "pn-busy-jennings",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-29T07:51:25.560364Z", "updated_at": "2025-08-29T07:51:25.560364Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "41b72630-3de7-4be0-b045-9d6c48a1ba42",
        "created_at": "2025-08-29T07:51:25.560364Z", "updated_at": "2025-08-29T07:51:25.560364Z",
        "subnet": "172.16.156.0/22", "project_id": "11111111-1111-1111-1111-111111111111",
        "private_network_id": "16c77cfd-c818-4312-ae96-32b0e5a16d3d", "vpc_id": "fdbf2d41-d70f-4715-a997-8116d6fe3626"},
        {"id": "1def827a-cc65-4fa6-a351-3a844e3af629", "created_at": "2025-08-29T07:51:25.560364Z",
        "updated_at": "2025-08-29T07:51:25.560364Z", "subnet": "fd64:badd:7710:8832::/64",
        "project_id": "11111111-1111-1111-1111-111111111111", "private_network_id":
        "16c77cfd-c818-4312-ae96-32b0e5a16d3d", "vpc_id": "fdbf2d41-d70f-4715-a997-8116d6fe3626"}],
        "vpc_id": "fdbf2d41-d70f-4715-a997-8116d6fe3626", "dhcp_enabled": true, "default_route_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/fdbf2d41-d70f-4715-a997-8116d6fe3626
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
