interactions:
- request:
    body: '{"enable_routing": false, "name": "vpc-epic-mestorf", "project_id": "11111111-1111-1111-1111-111111111111"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
  response:
    body:
      string: '{"id": "7aa6fcf8-88ae-4924-9ff1-a9dab7beb7d8", "name": "vpc-epic-mestorf",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-28T15:27:13.281205Z", "updated_at": "2025-08-28T15:27:13.281205Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"default_route_propagation_enabled": true, "name": "pn-elastic-hodgkin",
      "project_id": "11111111-1111-1111-1111-111111111111", "vpc_id": "7aa6fcf8-88ae-4924-9ff1-a9dab7beb7d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
  response:
    body:
      string: '{"id": "a84527b3-5cd1-4705-ae7c-0b0a51ab55d7", "name": "pn-elastic-hodgkin",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-28T15:27:13.374780Z", "updated_at": "2025-08-28T15:27:13.374780Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "8a35fa3c-2f52-424e-b8f4-04da44f720a9",
        "created_at": "2025-08-28T15:27:13.374780Z", "updated_at": "2025-08-28T15:27:13.374780Z",
        "subnet": "172.16.160.0/22", "project_id": "11111111-1111-1111-1111-111111111111",
        "private_network_id": "a84527b3-5cd1-4705-ae7c-0b0a51ab55d7", "vpc_id": "7aa6fcf8-88ae-4924-9ff1-a9dab7beb7d8"},
        {"id": "67f76ffe-f61d-42e6-994b-9f3642c223db", "created_at": "2025-08-28T15:27:13.374780Z",
        "updated_at": "2025-08-28T15:27:13.374780Z", "subnet": "fd64:badd:7710:b85d::/64",
        "project_id": "11111111-1111-1111-1111-111111111111", "private_network_id":
        "a84527b3-5cd1-4705-ae7c-0b0a51ab55d7", "vpc_id": "7aa6fcf8-88ae-4924-9ff1-a9dab7beb7d8"}],
        "vpc_id": "7aa6fcf8-88ae-4924-9ff1-a9dab7beb7d8", "dhcp_enabled": true, "default_route_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7aa6fcf8-88ae-4924-9ff1-a9dab7beb7d8
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ce539243-bf2d-4a3e-9384-181789c00309
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
