interactions:
- request:
    body: '{"project_id": "11111111-1111-1111-1111-111111111111", "type": "kapsule",
      "description": "", "version": "1.32.7", "cni": "cilium", "name": "k8s-vibrant-dewdney",
      "private_network_id": "6b16e762-b5fa-429d-b8e4-4e9446804a7a"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
  response:
    body:
      string: '{"region": "fr-par", "id": "f419b6e8-9cc4-4fb8-ab84-44999e796470",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-09-02T07:48:22.280363Z", "updated_at": "2025-09-02T07:48:22.280363Z",
        "type": "kapsule", "name": "k8s-vibrant-dewdney", "description": "", "status":
        "creating", "version": "1.32.7", "cni": "cilium", "tags": [], "cluster_url":
        "https://f419b6e8-9cc4-4fb8-ab84-44999e796470.api.k8s.fr-par.scw.cloud:6443",
        "dns_wildcard": "*.f419b6e8-9cc4-4fb8-ab84-44999e796470.nodes.k8s.fr-par.scw.cloud",
        "autoscaler_config": {"scale_down_disabled": false, "scale_down_delay_after_add":
        "10m", "estimator": "binpacking", "expander": "random", "ignore_daemonsets_utilization":
        false, "balance_similar_node_groups": false, "expendable_pods_priority_cutoff":
        -10, "scale_down_unneeded_time": "10m", "scale_down_utilization_threshold":
        0.5, "max_graceful_termination_sec": 600}, "auto_upgrade": {"enabled": false,
        "maintenance_window": {"start_hour": 0, "day": "any"}}, "upgrade_available":
        false, "feature_gates": [], "admission_plugins": [], "open_id_connect_config":
        {"issuer_url": "", "client_id": "", "username_claim": "", "username_prefix":
        "", "groups_claim": [], "groups_prefix": "", "required_claim": []}, "apiserver_cert_sans":
        [], "private_network_id": "6b16e762-b5fa-429d-b8e4-4e9446804a7a", "commitment_ends_at":
        "2025-09-02T07:48:22.280372Z", "acl_available": true, "iam_nodes_group_id":
        "", "new_images_enabled": false, "pod_cidr": "", "service_cidr": "", "service_dns_ip":
        ""}'
    headers:
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?organization_id=11111111-1111-1111-1111-111111111111&project_id=11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"total_count": 2, "clusters": [{"region": "fr-par", "id": "f4295f3a-a0cf-46b6-bbd5-f66cec577157",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-07-08T14:21:44.277886Z", "updated_at": "2025-07-08T14:23:13.718889Z",
        "type": "kapsule", "name": "tf-cluster", "description": "", "status": "ready",
        "version": "1.32.3", "cni": "cilium", "tags": [], "cluster_url": "https://f4295f3a-a0cf-46b6-bbd5-f66cec577157.api.k8[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f419b6e8-9cc4-4fb8-ab84-44999e796470?with_additional_resources=True
  response:
    body:
      string: '{"region": "fr-par", "id": "f419b6e8-9cc4-4fb8-ab84-44999e796470",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-09-02T07:48:22.280363Z", "updated_at": "2025-09-02T07:48[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f419b6e8-9cc4-4fb8-ab84-44999e796470
  response:
    body:
      string: '{"region": "fr-par", "id": "f419b6e8-9cc4-4fb8-ab84-44999e796470",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-09-02T07:48:22.280363Z", "updated_at": "2025-09-02T07:48:22.451825Z",
        "type": "kap[...]
[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f419b6e8-9cc4-4fb8-ab84-44999e796470
  response:
    body:
      string: '{"message": "resource is not found", "resource": "cluster", "resource_id":
        "f419b6e8-9cc4-4fb8-ab84-44999e796470", "type": "not_found"}'
    headers:
    status:
      code: 404
      message: Not Found
version: 1
