interactions:
- request:
    body: '{"project_id": "11111111-1111-1111-1111-111111111111", "type": "kapsule",
      "description": "", "version": "1.32.7", "cni": "cilium", "name": "k8s-flamboyant-mcclintock",
      "private_network_id": "a84527b3-5cd1-4705-ae7c-0b0a51ab55d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
  response:
    body:
      string: '{"region": "fr-par", "id": "841b17e2-3b16-4f87-9309-4cf077dba9ea",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-08-28T15:27:14.242662Z", "updated_at": "2025-08-28T15:27:14.242662Z",
        "type": "kapsule", "name": "k8s-flamboyant-mcclintock", "description": "",
        "status": "creating", "version": "1.32.7", "cni": "cilium", "tags": [], "cluster_url":
        "https://841b17e2-3b16-4f87-9309-4cf077dba9ea.api.k8s.fr-par.scw.cloud:6443",
        "dns_wildcard": "*.841b17e2-3b16-4f87-9309-4cf077dba9ea.nodes.k8s.fr-par.scw.cloud",
        "autoscaler_config": {"scale_down_disabled": false, "scale_down_delay_after_add":
        "10m", "estimator": "binpacking", "expander": "random", "ignore_daemonsets_utilization":
        false, "balance_similar_node_groups": false, "expendable_pods_priority_cutoff":
        -10, "scale_down_unneeded_time": "10m", "scale_down_utilization_threshold":
        0.5, "max_graceful_termination_sec": 600}, "auto_upgrade": {"enabled": false,
        "maintenance_window": {"start_hour": 0, "day": "any"}}, "upgrade_available":
        false, "feature_gates": [], "admission_plugins": [], "open_id_connect_config":
        {"issuer_url": "", "client_id": "", "username_claim": "", "username_prefix":
        "", "groups_claim": [], "groups_prefix": "", "required_claim": []}, "apiserver_cert_sans":
        [], "private_network_id": "a84527b3-5cd1-4705-ae7c-0b0a51ab55d7", "commitment_ends_at":
        "2025-08-28T15:27:14.242671Z", "acl_available": true, "iam_nodes_group_id":
        "", "new_images_enabled": false, "pod_cidr": "", "service_cidr": "", "service_dns_ip":
        ""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?organization_id=11111111-1111-1111-1111-111111111111&project_id=11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"total_count": 2, "clusters": [{"region": "fr-par", "id": "f4295f3a-a0cf-46b6-bbd5-f66cec577157",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-07-08T14:21:44.277886Z", "updated_at": "2025-07-08T14:23:13.718889Z",
        "type": "kapsule", "name": "tf-cluster", "description": "", "status": "ready",
        "version": "1.32.3", "cni": "cilium", "tags": [], "cluster_url": "https://f4295f3a-a0cf-46b6-bbd5-f66cec577157.api.k8[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/841b17e2-3b16-4f87-9309-4cf077dba9ea?with_additional_resources=True
  response:
    body:
      string: '{"region": "fr-par", "id": "841b17e2-3b16-4f87-9309-4cf077dba9ea",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-08-28T15:27:14.242662Z", "updated_at": "2025-08-28T15:27[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/841b17e2-3b16-4f87-9309-4cf077dba9ea
  response:
    body:
      string: '{"region": "fr-par", "id": "841b17e2-3b16-4f87-9309-4cf077dba9ea",
        "organization_id": "11111111-1111-1111-1111-111111111111", "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-08-28T15:27:14.242662Z", "updated_at": "2025-08-28T15:27:14.973350Z",
        "type": "kap[...]
[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/841b17e2-3b16-4f87-9309-4cf077dba9ea
  response:
    body:
      string: '{"message": "resource is not found", "resource": "cluster", "resource_id":
        "841b17e2-3b16-4f87-9309-4cf077dba9ea", "type": "not_found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
