interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?organization_id=11111111-1111-1111-1111-111111111111&project_id=11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"private_networks": [{"id": "90523094-fd4b-412d-a525-de6fd23a6c75",
        "name": "TestAccScalewayBaremetalIPAM", "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2024-12-02T22:18:14.330064Z", "updated_at": "2024-12-02T22:18:14.330064Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "f2f8b831-1367-40f0-8711-bce56a1de753",
        "created_at": "2024-12-02T22:18:14.330064Z", "updated_at": "2024-12-02T22:18:14.330064Z",
        "subnet": "172.16.64.0/22", "project_id": "11111111-1111-1111-1111-111111111111",
        "private_network_id": "90523094-fd4b-412d-a525-de6fd23a6c75", "vpc_id": "d6fb5a7c-124b-4f23-ad27-78f1df4437ff"},
        {"id": "9e2180eb-577d-4ffb-95ff-7ae627099adc", "created_at": "2024-12-02T22:18:14.330064Z",
        "updated_at": "2024-12-02T22:18:14.330064Z", "subnet": "fd64:badd:7710:ca07::/64",
        "project_id": "11111111-1111-1111-1111-111111111111", "private_network_id":
        "90523094-fd4b-412d-a525-de6fd23a6c75", "vpc_id": "d6fb5a7c-124b-4f23-ad27-78f1df4437ff"}],
        "vpc_id": "d6fb5a7c-124b-4f23-ad27-78f1df4437ff", "dhcp_enabled": true, "default_route_propagation_enabled":
        false, "region": "fr-par"}, {"id": "2a717d53-a24d-471b-a99f-7bb3e5921645",
        "name": "TestAccScalewayBaremetalIPAM", "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-01-29T13:27:39.888485Z", "updated_at": "2025-01-29T13:27:39.888485Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "c08ab341-7837-4e63-b239-f30b8b8eab01",
        "created_at": "2025-01-29T13:27:39.888485Z", "updated_at": "2025-01-29T13:27:39.888485Z",
     [...]
