interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?organization_id=11111111-1111-1111-1111-111111111111&page=1&project_id=11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"vpcs": [{"id": "e092f3d5-d85b-46fd-8d08-025e3282c8c1", "name": "default",
        "tags": ["default"], "organization_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2023-09-29T14:08:03.798038Z", "updated_at": "2023-09-29T14:08:03.798038Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": true,
        "private_network_count": 32, "routing_enabled": false, "custom_routes_propagation_enabled":
        false, "region": "fr-par"}, {"id": "b205a244-b0e4-431b-8e2e-1d83ea137825",
        "name": "TestAccScalewayBaremetalIPAM", "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2024-11-04T09:04:16.920798Z", "updated_at": "2024-11-04T09:04:16.920798Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        false, "region": "fr-par"}, {"id": [...]
[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?organization_id=11111111-1111-1111-1111-111111111111&page=3&project_id=11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"vpcs": [], "total_count": 0}'
    headers:
    status:
      code: 200
      message: OK
version: 1
