interactions:
- request:
    body: '{"enable_routing": true, "name": "vpc-test-sdk-python-awesome-colden",
      "project_id": "11111111-1111-1111-1111-111111111111"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
  response:
    body:
      string: '{"id": "3d808e78-ff64-42b1-9237-6a12e98b0756", "name": "vpc-test-sdk-python-awesome-colden",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-09-02T07:49:02.910608Z", "updated_at": "2025-09-02T07:49:02.910608Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3d808e78-ff64-42b1-9237-6a12e98b0756
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3d808e78-ff64-42b1-9237-6a12e98b0756
  response:
    body:
      string: '{"message": "resource is not found", "resource": "vpc", "resource_id":
        "3d808e78-ff64-42b1-9237-6a12e98b0756", "type": "not_found"}'
    headers:
    status:
      code: 404
      message: Not Found
version: 1
