interactions:
- request:
    body: '{"default_route_propagation_enabled": true, "name": "sdk-python-pn-0-ecstatic-mayer",
      "project_id": "11111111-1111-1111-1111-111111111111", "vpc_id": "fe7efbe2-e71f-4f1f-a3c8-be783d69427a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
  response:
    body:
      string: '{"id": "67457bd7-202d-4596-890f-3863b953d982", "name": "sdk-python-pn-0-ecstatic-mayer",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-28T15:04:03.292421Z", "updated_at": "2025-08-28T15:04:03.292421Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "c339302a-d92a-4dd7-9ebd-d9aae1e29082",
        "created_at": "2025-08-28T15:04:03.292421Z", "updated_at": "2025-08-28T15:04:03.292421Z",
        "subnet": "172.16.164.0/22", "project_id": "11111111-1111-1111-1111-111111111111",
        "private_network_id": "67457bd7-202d-4596-890f-3863b953d982", "vpc_id": "fe7efbe2-e71f-4f1f-a3c8-be783d69427a"},
        {"id": "fbccb50c-ad5a-4508-974f-6a60ab6944f0", "created_at": "2025-08-28T15:04:03.292421Z",
        "updated_at": "2025-08-28T15:04:03.292421Z", "subnet": "fd64:badd:7710:8ad9::/64",
        "project_id": "11111111-1111-1111-1111-111111111111", "private_network_id":
        "67457bd7-202d-4596-890f-3863b953d982", "vpc_id": "fe7efbe2-e71f-4f1f-a3c8-be783d69427a"}],
        "vpc_id": "fe7efbe2-e71f-4f1f-a3c8-be783d69427a", "dhcp_enabled": true, "default_route_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
