interactions:
- request:
    body: '{"enable_routing": true, "name": "vpc-test-sdk-python-amazing-pare", "project_id":
      "11111111-1111-1111-1111-111111111111"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
  response:
    body:
      string: '{"id": "90a413b3-e816-4567-b1f0-1f93470c8c9f", "name": "vpc-test-sdk-python-amazing-pare",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-28T15:04:02.857322Z", "updated_at": "2025-08-28T15:04:02.857322Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/90a413b3-e816-4567-b1f0-1f93470c8c9f
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/90a413b3-e816-4567-b1f0-1f93470c8c9f
  response:
    body:
      string: '{"message": "resource is not found", "resource": "vpc", "resource_id":
        "90a413b3-e816-4567-b1f0-1f93470c8c9f", "type": "not_found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1cb55f7e-97be-4ace-a2ab-384392b6f69c
  response:
    body:
      string: '{"message": "resource is not found", "resource": "vpc", "resource_id":
        "1cb55f7e-97be-4ace-a2ab-384392b6f69c", "type": "not_found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
