interactions:
- request:
    body: '{"default_route_propagation_enabled": true, "name": "sdk-python-pn-0-jolly-elion",
      "project_id": "11111111-1111-1111-1111-111111111111", "vpc_id": "64bd296a-08ae-472a-9868-13dc873fefe4"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
  response:
    body:
      string: '{"id": "5ef5318c-0923-473a-86b3-410c168e6484", "name": "sdk-python-pn-0-jolly-elion",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-09-02T07:49:03.389097Z", "updated_at": "2025-09-02T07:49:03.389097Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "97e9feca-af39-43e9-8df2-ba50bdf13c49",
        "created_at": "2025-09-02T07:49:03.389097Z", "updated_at": "2025-09-02T07:49:03.389097Z",
        "subnet": "172.16.140.0/22", "project_id": "11111111-1111-1111-1111-111111111111",
        "private_network_id": "5ef5318c-0923-473a-86b3-410c168e6484", "vpc_id": "64bd296a-08ae-472a-9868-13dc873fefe4"},
        {"id": "ace3b6ae-154b-4eb0-ac0d-9e9d968e6da1", "created_at": "2025-09-02T07:49:03.389097Z",
        "updated_at": "2025-09-02T07:49:03.389097Z", "subnet": "fd64:badd:7710:6088::/64",
        "project_id": "11111111-1111-1111-1111-111111111111", "private_network_id":
        "5ef5318c-0923-473a-86b3-410c168e6484", "vpc_id": "64bd296a-08ae-472a-9868-13dc873fefe4"}],
        "vpc_id": "64bd296a-08ae-472a-9868-13dc873fefe4", "dhcp_enabled": true, "default_route_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
    status:
      code: 200
      message: OK
[...]
