interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/fe7efbe2-e71f-4f1f-a3c8-be783d69427a
  response:
    body:
      string: '{"id": "fe7efbe2-e71f-4f1f-a3c8-be783d69427a", "name": "vpc-test-sdk-python-goofy-feynman",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-28T15:04:03.198637Z", "updated_at": "2025-08-28T15:04:03.198637Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3484eca2-1dea-4d09-a482-67cd5eb1e4e7
  response:
    body:
      string: '{"id": "3484eca2-1dea-4d09-a482-67cd5eb1e4e7", "name": "vpc-test-sdk-python-dreamy-pare",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-28T15:36:12.820194Z", "updated_at": "2025-08-28T15:36:12.820194Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
