interactions:
- request:
    body: '{"enable_routing": true, "name": "vpc-test-sdk-python-romantic-tesla",
      "project_id": "11111111-1111-1111-1111-111111111111"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
  response:
    body:
      string: '{"id": "5be217fa-9417-4340-b234-f410da44a60d", "name": "vpc-test-sdk-python-romantic-tesla",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-29T07:51:46.687619Z", "updated_at": "2025-08-29T07:51:46.687619Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5be217fa-9417-4340-b234-f410da44a60d
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5be217fa-9417-4340-b234-f410da44a60d
  response:
    body:
      string: '{"message": "resource is not found", "resource": "vpc", "resource_id":
        "5be217fa-9417-4340-b234-f410da44a60d", "type": "not_found"}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
