interactions:
- request:
    body: '{"tags": ["sdk-python", "regression-test"]}'
    headers:
    method: PATCH
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/64bd296a-08ae-472a-9868-13dc873fefe4
  response:
    body:
      string: '{"id": "64bd296a-08ae-472a-9868-13dc873fefe4", "name": "vpc-test-sdk-python-eager-swartz",
        "tags": ["sdk-python", "regression-test"], "organization_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-09-02T07:49:03.264547Z", "updated_at": "2025-09-02T07:49:13.569326Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
    status:
      code: 200
      message: OK
version: 1
