interactions:
- request:
    body: '{"default_route_propagation_enabled": true, "name": "sdk-python-pn-0-clever-yonath",
      "project_id": "11111111-1111-1111-1111-111111111111", "vpc_id": "7dfbbfc0-3f5a-4cee-b40b-4ef73ddda974"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
  response:
    body:
      string: '{"id": "2287a034-3c96-4d44-b11e-7c8901775739", "name": "sdk-python-pn-0-clever-yonath",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-29T07:51:47.200280Z", "updated_at": "2025-08-29T07:51:47.200280Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "subnets": [{"id": "42a271d3-eebf-4dc7-8877-74d863cf2a5d",
        "created_at": "2025-08-29T07:51:47.200280Z", "updated_at": "2025-08-29T07:51:47.200280Z",
        "subnet": "172.16.144.0/22", "project_id": "11111111-1111-1111-1111-111111111111",
        "private_network_id": "2287a034-3c96-4d44-b11e-7c8901775739", "vpc_id": "7dfbbfc0-3f5a-4cee-b40b-4ef73ddda974"},
        {"id": "42dc739c-da12-4575-9595-6166418ff54e", "created_at": "2025-08-29T07:51:47.200280Z",
        "updated_at": "2025-08-29T07:51:47.200280Z", "subnet": "fd64:badd:7710:1cbb::/64",
        "project_id": "11111111-1111-1111-1111-111111111111", "private_network_id":
        "2287a034-3c96-4d44-b11e-7c8901775739", "vpc_id": "7dfbbfc0-3f5a-4cee-b40b-4ef73ddda974"}],
        "vpc_id": "7dfbbfc0-3f5a-4cee-b40b-4ef73ddda974", "dhcp_enabled": true, "default_route_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
