interactions:
- request:
    body: '{"enable_routing": true, "name": "vpc-test-sdk-python-practical-beaver",
      "project_id": "11111111-1111-1111-1111-111111111111"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
  response:
    body:
      string: '{"id": "7dfbbfc0-3f5a-4cee-b40b-4ef73ddda974", "name": "vpc-test-sdk-python-practical-beaver",
        "tags": [], "organization_id": "11111111-1111-1111-1111-111111111111", "created_at":
        "2025-08-29T07:51:47.085349Z", "updated_at": "2025-08-29T07:51:47.085349Z",
        "project_id": "11111111-1111-1111-1111-111111111111", "is_default": false,
        "private_network_count": 0, "routing_enabled": true, "custom_routes_propagation_enabled":
        true, "region": "fr-par"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7dfbbfc0-3f5a-4cee-b40b-4ef73ddda974
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
