interactions:
- request:
    body: '{"instance_id": "dd5cd838-525b-4395-b2ae-4dec3381ceaf", "name": "sdk-python-test-snapshot",
      "expires_at": "2025-11-04T11:16:49.007353+00:00"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots
  response:
    body:
      string: '{"id": "7d68eb22-4529-452b-af73-160cc621427f", "instance_id": "dd5cd838-525b-4395-b2ae-4dec3381ceaf",
        "instance_name": "mgdb-magical-curie", "name": "sdk-python-test-snapshot",
        "status": "creating", "created_at": "2025-11-03T10:16:49.164635Z", "updated_at":
        "2025-11-03T10:16:49.164635Z", "expires_at": "2025-11-04T11:16:49.007353Z",
        "size_bytes": 0, "node_type": "mgdb-play2-nano", "volume_type": "sbs_5k",
        "region": "fr-par"}'
    headers:
    status:
      code: 200
      message: OK
- request:
    body: '{"instance_id": "dd5cd838-525b-4395-b2ae-4dec3381ceaf", "name": "sdk-python-test-snapshot",
      "expires_at": "2025-11-04T11:19:08.742558+00:00"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/mongodb/v1/regions/fr-par/snapshots
  response:
    body:
      string: '{"id": "e604d001-e413-4c55-a27c-909a852a8343", "instance_id": "dd5cd838-525b-4395-b2ae-4dec3381ceaf",
        "instance_name": "mgdb-magical-curie", "name": "sdk-python-test-snapshot",
        "status": "creating", "created_at": "2025-11-03T10:19:08.876365Z", "updated_at":
        "2025-11-03T10:19:08.876365Z", "expires_at": "2025-11-04T11:19:08.742558Z",
        "size_bytes": 0, "node_type": "mgdb-play2-nano", "volume_type": "sbs_5k",
        "region": "fr-par"}'
    headers:
    status:
      code: 200
      message: OK
version: 1
