interactions:
- request:
    body: '{"project": "11111111-1111-1111-1111-111111111111", "commercial_type":
      "DEV1-S", "name": "test-sdk-python-fixture", "dynamic_ip_required": false, "image":
      "c00ae53c-1e29-4087-a384-47f3c5c1cd84", "volumes": {"0": {"volume_type": "l_ssd",
      "boot": false, "size": 10000000000}}, "protected": false, "boot_type": "local"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
  response:
    body:
      string: '{"server": {"id": "a2e381f4-efa2-4e33-87a2-361fb81377f6", "name": "test-sdk-python-fixture",
        "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
        "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "hostname": "test-sdk-python-fixture", "image": {"id": "c00ae53c-1e29-4087-a384-47f3c5c1cd84",
        "name": "Ubuntu 20.04 Focal Fossa", "organization": "11111111-1111-1111-1111-111111111111",
        "project": "11111111-1111-1111-1111-111111111111", "root_volume": {"id": "6644dfd6-0731-45cc-a581-62f561eff7bf",
        "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "size": 10000000000},
        "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-02-03T13:36:50.774356+00:00",
        "modification_date": "2025-02-03T13:36:50.774356+00:00", "default_bootscript":
        null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"},
        "volumes": {"0": {"boot": false, "id": "2586c808-eb32-436f-bd41-14f437bdf5f1",
        "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "export_uri":
        null, "organization": "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "server": {"id": "a2e381f4-efa2-4e33-87a2-361fb81377f6", "name": "test-sdk-python-fixture"},
        "size": 10000000000, "state": "available", "creation_date": "2025-08-28T15:35:22.726027+00:00",
        "modification_date": "2025-08-28T15:35:22.726027+00:00", "tags": [], "zone":
        "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
        "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:c5:a9:9f",
        "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
        false, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-08-28T15:35:22.726027+00:00",
        "modification_date": "2025-08-28T15:35:22.726027+00:00", "bootscript": null,
        "security_group": {"id": "1c1fc99f-b2de-408d-9eb0-da801a3e2744", "name": "Default
        security group"}, "location": null, "maintenances": [], "allowed_actions":
        ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
        "fr-par-1", "filesystems": [], "end_of_service": false}}'
    headers:
      content-type:
      - application/json
      location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a2e381f4-efa2-4e33-87a2-361fb81377f6
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a2e381f4-efa2-4e33-87a2-361fb81377f6
  response:
    body:
      string: '{"server": {"id": "a2e381f4-efa2-4e33-87a2-361fb81377f6", "name": "test-sdk-python-fixture",
        "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
        "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "hostname[...]
- request:
    body: '{"volume_id": "670c8583-b924-41bc-a034-2284724d8512"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a2e381f4-efa2-4e33-87a2-361fb81377f6/detach-volume
  response:
    body:
      string: '{"server": {"id": "a2e381f4-efa2-4e33-87a2-361fb81377f6", "name": "test-sdk-python-fixture",
        "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
        "11111111-1111-11[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/670c8583-b924-41bc-a034-2284724d8512
  response:
    body:
      string: '{"id": "670c8583-b924-41bc-a034-2284724d8512", "name": "vol-hardcore-mendel",
        "type": "sbs_5k", "size": 10000000000, "project_id": "11111111-1111-1111-1111-111111111111",
        "created_at": "2025-08-28T15:35:23.311139Z", "updated_at": "2025-08-28T15:35:28.568978Z",
        "references": [], "parent_snapshot_id": null, "status": "available", "tags":
        [], "specs": {"perf_iops": 5000, "class": "sbs"}, "last_detached_at": "2025-08-28T15:35:28.568978Z",
        "zone": "fr-par-1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a2e381f4-efa2-4e33-87a2-361fb81377f6
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
