interactions:
- request:
    body: '{"project": "11111111-1111-1111-1111-111111111111", "commercial_type":
      "DEV1-S", "name": "test-sdk-python-fixture", "dynamic_ip_required": false, "image":
      "c00ae53c-1e29-4087-a384-47f3c5c1cd84", "protected": false, "boot_type": "local"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
  response:
    body:
      string: '{"server": {"id": "66a3b25b-4518-43c3-9e61-33b82873d617", "name": "test-sdk-python-fixture",
        "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
        "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "hostname": "test-sdk-python-fixture", "image": {"id": "c00ae53c-1e29-4087-a384-47f3c5c1cd84",
        "name": "Ubuntu 20.04 Focal Fossa", "organization": "11111111-1111-1111-1111-111111111111",
        "project": "11111111-1111-1111-1111-111111111111", "root_volume": {"id": "6644dfd6-0731-45cc-a581-62f561eff7bf",
        "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "size": 10000000000},
        "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-02-03T13:36:50.774356+00:00",
        "modification_date": "2025-02-03T13:36:50.774356+00:00", "default_bootscript":
        null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"},
        "volumes": {"0": {"boot": false, "id": "bda6aff6-7ca2-41de-a3fb-47be986c5c0a",
        "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "export_uri":
        null, "organization": "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "server": {"id": "66a3b25b-4518-43c3-9e61-33b82873d617", "name": "test-sdk-python-fixture"},
        "size": 20000000000, "state": "available", "creation_date": "2025-09-16T17:38:27.303680+00:00",
        "modification_date": "2025-09-16T17:38:27.303680+00:00", "tags": [], "zone":
        "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
        "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:c8:be:d7",
        "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
        false, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-09-16T17:38:27.303680+00:00",
        "modification_date": "2025-09-16T17:38:27.303680+00:00", "bootscript": null,
        "security_group": {"id": "1c1fc99f-b2de-408d-9eb0-da801a3e2744", "name": "Default
        security group"}, "location": null, "maintenances": [], "allowed_actions":
        ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
        "fr-par-1", "filesystems": [], "end_of_service": false}}'
    headers:
      location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/66a3b25b-4518-43c3-9e61-33b82873d617
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/66a3b25b-4518-43c3-9e61-33b82873d617
  response:
    body:
      string: '{"server": {"id": "66a3b25b-4518-43c3-9e61-33b82873d617", "name": "test-sdk-python-fixture",
        "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
        "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "hostname[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/66a3b25b-4518-43c3-9e61-33b82873d617
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
