interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?organization=11111111-1111-1111-1111-111111111111&project=11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"servers": [{"id": "56f0c6bd-b659-4aec-b885-c408b4f9c93d", "name":
        "test-sdk-python-fixture", "arch": "x86_64", "commercial_type": "DEV1-S",
        "boot_type": "local", "organization": "11111111-1111-1111-1111-111111111111",
        "project": "11111111-1111-1111-1111-111111111111", "hostname": "test-sdk-python-fixture",
        "image": {"id": "c00ae53c-1e29-4087-a384-47f3c5c1cd84", "name": "Ubuntu 20.04
        Focal Fossa", "organization": "11111111-1111-1111-1111-111111111111", "project":
        "11111111-1111-1111-1111-111111111111", "root_volume": {"id": "6644dfd6-0731-45cc-a581-62f561eff7bf",
        "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "size": 10000000000},
        "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-02-03T13:36:50.774356+00:00",
        "modification_date": "2025-02-03T13:36:50.774356+00:00", "default_bootscript":
        null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"},
        "volumes": {"0": {"boot": false, "id": "2156957e-5432-4619-9310-98a910819695",
        "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "export_uri":
        null, "organization": "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "server": {"id": "56f0c6bd-b659-4aec-b885-c408b4f9c93d", "name": "test-sdk-python-fixture"},
        "size": 10000000000, "state": "available", "creation_date": "2025-09-02T07:48:14.220889+00:00",
        "modification_date": "2025-09-02T07:48:14.220889+00:00", "tags": [], "zone":
        "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "6a371d9d-1edb-4c62-a49b-33852b4704d1",
        "zone": "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false,
        "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:c6:49:6b",
        "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
        false, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-09-02T07:48:14.220889+00:00",
        "modification_date": "2025-09-02T07:48:14.220889+00:00", "bootscript": null,
        "security_group": {"id": "1c1fc99f-b2de-408d-9eb0-da801a3e2744", "name": "Default
        security group"}, "location": null, "maintenances": [], "allowed_actions":
        ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
        "fr-par-1", "filesystems": [], "end_of_service": false}, {"id": "c75a5aea-6354-44fb-bb10-92ec4226acfa",
        "name": "test-sdk-python-fixture", "arch": "x86_64", "commercial_type": "DEV1-S",
        "boot_type": "local", "organization": "11111111-1111-1111-1111-111111111111",
        "project": "11111111-1111-1111-1111-111111111111", "hostname": "test-sdk-python-fixture",
        "image": {"id": "c00ae53c-1e29-4087-a384-47f3c5c1cd84", "name": "Ubuntu 20.04
        Focal Fossa", "organization": "11111111-1111-1111-1111-111111111111", "proje[...]
