interactions:
- request:
    body: '{"project": "11111111-1111-1111-1111-111111111111", "type": "routed_ipv6"}'
    headers:
    method: POST
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
  response:
    body:
      string: '{"ip": {"id": "e49ad003-ea76-42b3-8154-1bba12b2413b", "address": null,
        "prefix": "2001:bc8:710:ee8b::/64", "reverse": null, "server": null, "organization":
        "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [],
        "ipam_id": "935378e8-8339-4a1a-9a05-ec0046eb6d87"}}'
    headers:
      location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e49ad003-ea76-42b3-8154-1bba12b2413b
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips?organization=11111111-1111-1111-1111-111111111111&project=11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"ips": [{"id": "e49ad003-ea76-42b3-8154-1bba12b2413b", "address":
        null, "prefix": "2001:bc8:710:ee8b::/64", "reverse": null, "server": null,
        "organization": "11111111-1111-1111-1111-111111111111", "project": "11111111-1111-1111-1111-111111111111",
        "zone": "fr-par-1", "type": "routed_ipv6", "state": "detached", "tags": [],
        "ipam_id": "935378e8-8339-4a1a-9a05-ec0046eb6d87"}, {"id": "5f331579-2541-490c-8ea6-bcd96d8511ae",
        "address": null, "prefix": "2001:bc8:710:ee[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e49ad003-ea76-42b3-8154-1bba12b2413b
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
