name: Generate documentation
permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.13"
          cache: 'poetry'
      - name: Set up cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ./source
          key: 'sphinx-source-cache'
      - name: Install dependencies and library
        run: poetry install --no-root
      - name: Generate documentation sources
        run: |
          poetry run sphinx-apidoc -f -o ./source ../scaleway-core
          poetry run sphinx-apidoc -f -o ./source ../scaleway
          poetry run sphinx-apidoc -f -o ./source ../scaleway-async
      - name: Generate documentation
        run: poetry run sphinx-build -j auto -b html ./ ./_build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: docs
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build
          force_orphan: true
