name: format
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lib:
          - scaleway-core
          - scaleway
          - scaleway-async
    defaults:
      run:
        working-directory: ${{ matrix.lib }}
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: "poetry"
      - name: Install dependencies and library
        run: poetry install
      - name: Check format
        run: poetry run ruff format --check
