name: Check linters
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  ruff:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lib:
          - scaleway-core
          - scaleway
          - scaleway-async
        python-version: [ '3.10' ,'3.11', '3.12', '3.13' ]
    defaults:
      run:
        working-directory: ${{ matrix.lib }}
    steps:
      - uses: actions/checkout@v5
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install dependencies and library
        run: poetry install
      # We ignore the following rules for now:
      #   E721 (https://docs.astral.sh/ruff/rules/type-comparison)
      #   F541 (https://docs.astral.sh/ruff/rules/f-string-missing-placeholders)
      - name: Check linting
        run: poetry run ruff check . --ignore E721 --ignore F541
  actionlint:
    name: Github Actions lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
