name: Check Pull Request
on:
  pull_request:
    types: ["opened", "edited", "reopened", "synchronize"]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v3
