name: Release

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lib:
          - scaleway-core
          - scaleway
          - scaleway-async
    defaults:
      run:
        working-directory: ${{ matrix.lib }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install poetry
        run: |
          pip install poetry
          poetry --version
      - name: Install dependencies and library
        run: poetry install
      - name: Set package version
        run: poetry version $(echo "${{ github.ref }}" | cut -d "/" -f 3)
      - name: Build package
        run: poetry build
      - name: Publish package
        run: poetry publish
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
